.container {
  display: flex;
  flex-wrap: wrap;
}

.history,
.whatwedo,
.philosophy,
.corevalues,
.whatwedoimg,
.philosophyimg,
.ourinvestments {
  flex: wrap;
  /* border: 1px solid black;
  margin: 0.5em;
  padding: 0.5em; */
  text-align: left;
}
img,
video {
  display: block;
  max-width: 100%;
}

img {
  width: 100%;
  object-fit: cover;
}
.whatwedo,
.whatwedoimg {
  flex-basis: 40%;
  flex-direction: row;
  flex-grow: 1;
}

.philosophyimg,
.philosophy {
  flex-basis: 40%;
  flex-direction: row;
  flex-grow: 1;
}

.whatwedo,
.philosophy {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
}

.whatwedo,
.philosophy,
.history {
  padding: 0 5%;
}

.whatwedo p,
.philosophy p,
.history p {
  font-size: var(--common-sizep);
  line-height: var(--common-h);
}

.history h2,
.whatwedo h2,
.philosophy h2,
.corevalues h2 {
  align-items: center;
  justify-content: center;
  font-family: "jel", Helvetica, Arial, Lucida, sans-serif;
  font-size: var(--common-sizeh);
  /* color: #004f44 !important; */
  /* line-height: 3em; */
  text-align: center;
}
.history h2,
.philosophy h2,
.corevalues h2 {
  padding: 4% 0;
}

.history h2,
.whatwedo h1,
.philosophy h2,
.corevalues h2,
.ourinvestments h1 {
  color: #001736;
}

.ourinvestments {
  padding-top: 5%;
  line-height: var(--common-h);
}

.history {
  padding-bottom: 5%;
}

@media screen and (max-width: 992px) {
  .container > * {
    /* flex: 50%; */
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  main {
    order: 1;
  }
  .history {
    order: 2;
  }
  .whatwedoimg {
    order: 3;
  }
  .whatwedo {
    order: 4;
  }
  .philosophyimg {
    order: 5;
  }
  .philosophy {
    order: 6;
  }
  .ourinvestments {
    order: 7;
  }
  .corevalues {
    order: 8;
  }
  .footer {
    order: 9;
  }
}

/**************** CORE VALUES *************/
.corevalues {
  /* display: flex;
  flex: wrap; */
  justify-content: space-between;
  /* flex-direction: row; */
}
#sec {
  font-family: "Raleway", sans-serif;
  /* padding: 50px 0; */
  background: #fff;
  text-align: center;
  word-wrap: break-word;
}
#sec h2 {
  font-weight: 400;
  font-size: 40px;
  color: #001736;
}
#sec ul {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  height: 50%;
}
#sec ul li {
  padding: 40px;
  width: 300px;
  transition: box-shadow 0.3s;
}
#sec ul li:hover {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#sec ul li:hover span {
  color: #001736;
}
#sec ul li:hover p {
  color: #555;
}
#sec ul li:hover h3 {
  color: #001736;
}
#sec ul li:hover h3:after {
  width: 25px;
}
#sec ul li span {
  font-size: 2.6em;
  display: block;
  transition: color 0.3s;
  color: #a2a2a2;
}
#sec ul li span:before,
#sec ul li span:after {
  position: static;
}
#sec ul li h3 {
  color: #6f6f6f;
  display: inline-block;
  font-size: 24px;
  font-weight: 100;
  transition: color 0.3s;
}
/* #sec ul li h3:after {
  content: "";
  position: relative;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  display: block;
  width: 40px;
  height: 1px;
  background: #6f6f6f;
  transition: width 0.3s;
} */
#sec ul li p {
  color: #a2a2a2;
  text-align: left;
  text-indent: 1em;
  font-size: 16px;
  line-height: 26px;
  transition: color 0.3s;
}

/**************** Our Investments *******************/
/* .ourinvestments {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  


}

.ourinvestments img {
  max-width: 1500px;
  height: auto;
  border-radius: 10px;
}

.info {
  padding-left: 10%;
  display: flex;
  background-color: blanchedalmond;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  /* margin-top: -150px; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* font-family: "Montserrat"; */
}
section {
  /* height: 50%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #1e1f26; */
}
.cont {
  flex-direction: column;
  width: 100%;
  margin: 0 20px;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-color: aqua; */
}
.left {
  width: 100%;
  height: 400px;

  background: url(https://i.ibb.co/J3G6W6b/pexels-photo-669996.jpg) no-repeat
    center / cover;
  border-radius: 12px;
}


.right {
  width: 90%;
  margin: 0;
  margin-top: -100px;
  min-height: 400px;
  background-color: #f6f6f6;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: black;
}
.right h1 {
  font-size: 40px;
  font-weight: lighter;
  padding: 5%;
  font-family: "jel", Helvetica, Arial, Lucida, sans-serif;

}

.right a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px 30px;
  display: inline-block;
  letter-spacing: 2px;
}

.right {
  justify-content: left;
  line-height: 1.6rem;
  display: inline-block;
  word-wrap: break-word;
}

.right h3 {
  padding-top: 5%;
}

.col1,
.col2 {
  flex-basis: 40%;
  flex-direction: row;
  flex-grow: 1;
}

.col1 {
  float: left;
  padding-left: 10%;
  max-width: 500px;
}

.col2 {
  float: right;
  padding-right: 10%;
}

.right p {
  margin: 2% 0;
}

ul {
  list-style-position: inside;
}

@media screen and (max-width: 1017px) {
  .col1,
  .col2 {
    padding: 0%;
    float: none;
  }
  .right h3 {
    padding-top: 7%;
  }
}

@media only screen and (max-width: 768px) {
  .cont {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
}

@media screen and (max-width: 992px) {
  .container > * {
    flex: 50%;
  }
  .philosophy h2 {
    line-height: 2rem;
  }
  .philosophy,
  .history {
    padding-top: 7%;
    padding-bottom: 7%;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 992px) {
  .container {
    flex-direction: column;
  }

  .main {
    order: 1;
  }
  .history {
    order: 2;
  }
  .philosophyimg {
    order: 3;
  }
  .philosophy {
    order: 4;
  }
  .ourinvestments {
    order: 5;
  }
  .corevalues {
    order: 6;
  }
  .footer {
    order: 7;
  }
}
