* {
    color: black;
}

.aboutuspage{
    padding-left: 12%;
    padding-right:12%;
    color: black;
    font-size: 14px;
    line-height: 2;
}
#about1 img{
  width:100%;
  object-fit: cover;
}

#about2 {
    background-color: rgba(102, 102, 102, 0.609);
}

.about2info {
    padding-top: 10%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;;
}

.about2info h1 {
    font-family: 'jel',Helvetica,Arial,Lucida,sans-serif;
    font-size: 32px;
    color: #004F44!important;
    line-height: 1.6em;
}
.about2info p {
    padding-bottom: 1em;
}

.mainimg {
    height: 460px;
    width:100%;
    object-fit: cover;
}

#Main h1{
    z-index:1;
    position: absolute;
    text-align: center;
    right: 0;
    left:0; 
  }


#content2 img{
  width:100%;
  object-fit: cover;
}
.content2img {
    /* width: 100%; */
}

#content1 {
    background-color: rgba(102, 102, 102, 0.609);
}

.content1info {
    padding-top: 10%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.content1info h1 {
    font-family: 'jel',Helvetica,Arial,Lucida,sans-serif;
    font-size: 32px;
    color: #004F44!important;
    line-height: 1.6em;
}
.content1info p {
    padding-bottom: 1em;
}

#test h1{
    color: #555;
    font-weight: 400;
    font-size: 40px;
}


/* cards */


#sec {
    font-family: "Raleway", sans-serif;
    padding: 50px 0;
    background: #fff;
    text-align: center;
    word-wrap: break-word;
  }
  #sec h2 {
    font-weight: 400;
    font-size: 40px;
    color: #63b7e6;
  }
  #sec ul {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    height: 50%;
  }
  #sec ul li {
    padding: 40px;
    width: 300px;
    transition: box-shadow 0.3s;
  }
  #sec ul li:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  #sec ul li:hover span {
    color: #63b7e6;
  }
  #sec ul li:hover p {
    color: #555;
  }
  #sec ul li:hover h3 {
    color: #63b7e6;
  }
  #sec ul li:hover h3:after {
    width: 25px;
  }
  #sec ul li span {
    font-size: 2.6em;
    display: block;
    transition: color 0.3s;
    color: #a2a2a2;
  }
  #sec ul li span:before, #sec ul li span:after {
    position: static;
  }
  #sec ul li h3 {
    color: #6f6f6f;
    display: inline-block;
    font-size: 24px;
    font-weight: 100;
    transition: color 0.3s;
  }
  /* #sec ul li h3:after {
    content: "";
    position: relative;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    display: block;
    width: 40px;
    height: 1px;
    background: #6f6f6f;
    transition: width 0.3s;
  } */
  #sec ul li p {
    color: #a2a2a2;
    text-align: left;
    text-indent: 1em;
    font-size: 16px;
    line-height: 26px;
    transition: color 0.3s;
  }