
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* line-height: 2rem; */
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');

:root {
 --main-radius: 5px;
 --main-padding: 5px;
}
p {
  line-height: 2rem;
}


/* *****************************Nav************************ */
nav {
  z-index:1;
  position: absolute;
  padding-bottom: 4%;
  text-align: center;
  right: 0;
  left:0;
  top: 5%;
  font-size:1.8vh;
}
nav a{
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Cantarell', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:white;
  margin:0 15px;
  font-size:1.8vh;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:white;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}

@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
}

/* *****************************Nav************************ */


.container {
  /* border:1px dotted red; */
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center;
  align-items: center; */
  flex-wrap: wrap;
  width:100%;
}

.container > * {
  flex-basis: 100%;
  min-width: 0;
}

@media screen and (max-width: 992px) {
  .container > * {
    flex: 50%;
  }
}


img, video {
  display: block;
  max-width: 100%;
}
main {
  /* border: 1px solid black;
  margin: 0.5em;
  padding: 0.5em; */
  height: 4%;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  flex: 100%;
}

.LogoHeader {
  /* width: 200px; */
  margin: 0.5em;
  padding: 0.5em;
  width: 15%;
  z-index:1;
  position: absolute;
  text-align: left;
  /* right: 0;
  left:0; */
  /* top: 2%; */
}

main {
  background-color: #001736;
}
.video {
  position: relative;
}
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
  opacity: .8;
}
.videoname {
  display: flex;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
/* .videoname {
  z-index:1;
  text-align: center;
  align-items: center;
}*/
.videoname h1 {
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Cantarell', sans-serif;
  font-weight: 5;
  font-size: 4vw;
  /* line-height: 4rem; */
  color:white;
  padding: 0 13%;
}
.videoname p {
  font-family: 'Oswald', sans-serif;
  font-weight: 5;
  color:rgb(143, 142, 142);
  font-size: 2vh;
} 

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}





/****************** footer *******************/
.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 40px;
  padding-bottom: 0%;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}
footer {
  /* border: 1px solid black;
  margin: 0.5em;
  padding: 0.5em; */
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.footer .about {
  text-transform: none;
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.bottomtext {
  float: bottom;
  text-transform: none;
  text-align: center;
  font-size: 10px;
  color: black
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}

@media (max-width: 830px){
  .LogoHeader {
    display:none;
  }
}