@import url('https://fonts.googleapis.com/css?family=Oswald:500');

*.body {
  padding: 0px;
}
/* .back{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:url(https://pp.userapi.com/c841122/v841122831/327e/nHt-92F6yc4.jpg) no-repeat top center #efeff1;
  background-size:cover;
} */
/* .thx{
  position: fixed;
  left:50%;
  transform:translateX(-50%);
  bottom: 15px;
} */
/* nav{
  width: 100%;
  position: fixed;
  top:50px;
  text-align:center;
} */
nav {
  z-index:1;
  position: absolute;
  
  text-align: center;
  right: 0;
  left:0;
  top: 5%;
  
}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:#000000;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#000000;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}

@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
}
/*
.images{
  position: relative;
}

.images img{
  width:5%; 
 top: 10%;
  z-index: 0;

 
}



* {
  font-family: arial;
}

.jumbotron video {
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0%;
  width:100%;
  height:50vh;
  object-fit: cover;
  object-position: center center;
  
}

.jumbotron .container-video {
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.videoname{
  width: 50%;
  position: absolute;
  top:15%;
  right: 24%;
  text-align:center;
  font-size: 100px;
  color: white;
  word-wrap: break-word;
}

footer{
  position: absolute;
  bottom: -100%;

  width: 100%;
}

 */

 *, html {
  padding:0;  
}
.selector-for-some-widget {
  box-sizing: content-box;
}
 :root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  font-family: "Inter", sans-serif;

}

.container {
  margin: 0;
  /* margin-right:-50px; */
  display: grid;
  /* height: 200; */
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 0r 2.1fr 1.5fr 1fr .5fr; */
  grid-template-rows: 800px 460px 400px 450px 500px 300px;
  grid-template-areas:
    "video video"
    "about1 about2"
    "main main"
    "content1 content2"
    "test test"
    "footer footer";
  grid-gap: 0.2rem;
  /* font-weight: 800; */
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}



main {
  /* background: #84ffff; */
  grid-area: video;

  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#Main {
  /* background: #64ffda; */
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#about1 {
  /* background: black; */
  grid-area: about1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#about2 {
  /* background: #c5cfb2; */
  grid-area: about2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content1 {
  /* background: #6fffd2; */
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content2 {
  /* background: #64ffda; */
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#test {
  background-color: black;
  grid-area: test;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  /* background: #1de9b6; */
  grid-area: footer;
  /* border-radius: var(--main-radius); */
  padding-top: var(--main-padding);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}



@media only screen and (max-width: 770px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2.2fr 1.3fr 1.2fr 1.2fr 1.2fr 1.2fr;
    grid-template-areas:
      
      "video"
      "about1"
      "about2"
      "main"
      "content1"
      "content2"
      "test"
      "footer";
  }
}

video{    
  /* position:absolute; */
  top:0;
  /* left:0; */
  z-index: -100;
  /* opacity: 0; */
  width: 100%;
  /* height: 70%; */
  /* border-radius: var(--main-radius);
  padding-top: var(--main-padding); */
  object-fit: fill;
}

.videoname {
  z-index:1;
  position: absolute;
  
  text-align: center;
  right: 0;
  left:0; 
}

.videoname h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 5;
  font-size: 80px;
  color:rgb(0, 0, 0);
}
.videoname p {
  font-family: 'Oswald', sans-serif;
  font-weight: 5;
  color:rgb(143, 142, 142);
  font-size: 150%;
}

.LogoHeader {
  /* width: 200px; */
  width: 10%;
  z-index:1;
  position: absolute;
  
  text-align: left;
  right: 0;
  left:0;
  
  top: 2%;
}

#footerbox{
  height: 45vh;
}

a { text-decoration: none; color:#3363ff; }




/* footer */
.footer {
  background-color: #414141;
  width: 100%;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 40px;
  padding-bottom: 0%;
  margin-top: 50px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* footer left*/

.footer .footer-left {
  width: 33%;
  padding-right: 15px;
}

.footer .about {
  text-transform: none;
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  
}

.footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer .icons {
  margin-top: 25px;
}

.footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* footer center*/

.footer .footer-center {
  width: 30%;
}

.footer .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer .footer-center p a {
  color: #0099ff;
  text-decoration: none;
}


/* footer right*/

.footer .footer-right {
  width: 35%;
}

.footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.footer h2 span {
  color: #0099ff;
}

.footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer .menu a:hover {
  color: #0099ff;
}

.footer .name {
  color: #0099ff;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.bottomtext {
  float: bottom;
  text-transform: none;
  text-align: center;
  font-size: 10px;
  color: black
}

@media (max-width: 767px) {
  .footer {
    font-size: 14px;
  }
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer .footer-center i {
    margin-left: 0;
  }
}