{% extends 'main/base.html' %} {% load static %} {% block scripts %}
<link href="{% static 'css/aboutus.css'%}" rel="stylesheet" type="text/css" />
{% endblock %} 
{% block title %}About Us{% endblock %}
{% block videoname %}
<h1>
  A business with a streamlined process staying true to its roots built upon
  trust and integrity
</h1>
{% endblock%} {% block video %}
<video src="{% static 'videos/homepage.mp4'%}" muted loop autoplay></video>
{% endblock%} {% block content%}
<div class="history">
  <h2 style="text-align: center">Our Mission - “Giving Wings to Your Money”</h2>
  <p>
    The story of Daedalus and Icarus is a classic tale of greed, folly, and
    unbridled spirit. Daedalus and Icarus were father and son, trapped on an
    island prison for angering King Minos, the ruler of the Greek island Crete.
    Daedalus, a brilliant inventor, created wings out of wax for himself and his
    son. Most people recognize this story because Icarus decided to fly too
    close to the sun, which melted the wax off his wings and ultimately brought
    his demise. However, we want to honor the story of Daedalus, a man whose
    shrewd decision-making ultimately allowed him to reach his end goals. By
    associating Daedalus to our name, we make sure that our investments are at
    the perfect balance of risk, to ensure that our wings aren’t dampened by
    seawater nor are they melted by the sun. By not flying too close to the sun
    or water, we hope our investments will take flight, and give us the best
    rate of return we can generate.
  </p>
</div>

<div class="philosophy">
  <h2>Our Take On Ethical Investing</h2>
  <p>
    We make ethical investing one of the central ideologies in which our
    investment strategy is built. We do not believe in investing in companies
    profiting off other peoples’ misfortune, because by investing in companies
    like those, we as an entity are also profiting off of peoples’ ill will. At
    our forefront, we focus on investing in companies creating a positive impact
    on society.
  </p>
</div>

<div class="philosophyimg">
  <img src="https://i.ibb.co/gTkNPqv/OURTAKEONETHICAL-INVESTING.jpg" />
</div>

<div class="ourinvestments">
  <section>
    <div class="cont">
      <div class="left"></div>
      <div class="right">
        <div class="content">
          <h1>Our Investments</h1>
          <div class="col1">
            <h3>Investment Vessels</h3>
            <p>
              Stocks, ETFs, Leveraged ETFs, Bonds, Call options, Put options,
              Market-tracking ETFs
            </p>
            <h3>Strategies Used</h3>
            <ul>
              <li>Levered exposure to stocks using options</li>
              <li>Hedging using market-tracking put options</li>
              <li>Heightening market returns with levered ETFs</li>
              <li>Holding stocks for the long-term</li>
              <li>
                Using bonds as a way to get exposure to international treasuries
              </li>
            </ul>
            <h3>Market Cap Range</h3>
            <p>$500 Million+</p>
          </div>
          <div class="col2">
            <h3>Sectors We Specialize In</h3>
            <ul>
              <li>Energy</li>
              <li>Healthcare</li>
              <li>Financials</li>
              <li>Consumer Discretionary</li>
              <li>Consumer Staples</li>
              <li>Information Technology</li>
              <li>Communication Services</li>
              <li>Real Estate</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="corevalues">
  <h2>Core Values</h2>
  <section id="sec">
    <ul>
      <li>
        <span class="fa fa-flag"></span>

        <h3>Independence</h3>
        <p>
          Without direct links to any unaffiliated outside group, we eliminate
          institutionalized conflicts of interest and pressures.
        </p>
      </li>
      <li>
        <span class="fa fa-users"></span>
        <h3>Client Focus</h3>
        <p>
          We understand each client is different and believe in personalization
          for each one. We believe in a long-term approach and we believe in
          accommodating each client’s specific goals and needs.
        </p>
      </li>
      <li>
        <span class="fa fa-handshake"></span>
        <h3>Transparency</h3>
        <p>
          We wish to have open conversations with clients about the plan of
          action we wish to take along with keeping them in the loop on any
          major decisions as it pertains to asset management.
        </p>
      </li>
      <li>
        <span class="fa fa-balance-scale"></span>
        <h3>Ethical Investing</h3>
        <p>
          We wish to comprise any portfolio with companies creating positive
          impacts on society, rather than ones that profit off of individuals in
          an immoral way.
        </p>
      </li>
    </ul>
  </section>
</div>

{% endblock%}
