{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="aboutuspage">
<h2>Our mission - “Giving Wings to Your Money”</h2>
<p>The story of Daedalus and Icarus is a classic tale of greed, folly, and unbridled spirit. Daedalus and Icarus were father and son, trapped on an island prison for angering King Minos, the ruler of the Greek island Crete. Daedalus, a brilliant inventor, created wings out of wax for himself and his son. Most people recognize this story because Icarus decided to fly too close to the sun, which melted the wax off his wings and ultimately brought his demise. However, we want to honor the story of Daedalus, a man whose shrewd decision-making ultimately allowed him to reach his end goals. By associating Daedalus to our name, we make sure that our investments are at the perfect balance of risk, to ensure that our wings aren’t dampened by seawater nor are they melted by the sun. By not flying too close to the sun or water, we hope our investments will take flight, and give us the best rate of return we can generate.</p>

<h2>Core Values</h2>
<p>Independence: Without direct links to any unaffiliated outside group, we eliminate institutionalized conflicts of interest and pressures.</p>

<p>Client Focus: We understand each client is different and believe in personalization for each one. We believe in a long-term approach and we believe in accommodating each client’s specific goals and needs. </p>

<p>Transparency: We wish to have open conversations with clients about the plan of action we wish to take along with keeping them in the loop on any major decisions as it pertains to asset management. </p>

<p> Ethical Investing: We wish to comprise any portfolio with companies creating positive impacts on society, rather than ones that profit off of individuals in an immoral way. </p>
</div>
{% endblock%}

{% block videoname %}
<h1>What We Do</h1>

{% endblock%}


{% block video %}
<video src="{% static 'videos/aboutus.mp4'%}" muted loop autoplay></video>
{% endblock%}


