{% extends 'main/base.html' %} {% load static %} {% block scripts %}
<link href="{% static 'css/home.css'%}" rel="stylesheet" type="text/css" />
{% endblock %} {% block video %}
<video src="{% static 'videos/homepage.mp4'%}" muted loop autoplay></video>
{% endblock%} {% block videoname %}
<h1>DAEDALUS</h1>
<h1>INVESTMENTS</h1>
<p>"Giving Wings to Your Money"</p>
{% endblock%} {% block content %}

<div class="about2">
  <img class="about1img" src="{% static 'images/HOMEPAGEABBOUTUS.jpg'%}" />
</div>

<div class="about1">
  <h2>About Us</h2>
  <p>
    Daedalus Investments Co. is a portfolio management entity that offers
    personalized asset management and portfolio consultation to all clients and
    offers complete and thorough transparency. From portfolio allocation to
    equity valuation, our comprehensive strategy is streamlined, efficient, and
    creates sustainable growth in capital markets.
  </p>
  <a href="/aboutus" class="button" title="Yes, turtles.">About us</a>
</div>

<div class="counter">
  <div class="assets_under">
    <img
      class="assets_under_img"
      src="{% static 'images/hand.png'%}"
      alt="Assets Under Managment Image"
    />

    <div id="numbers">
      <span class="fig-number">301420</span>
    </div>
    <p>Assets Under Management</p>
  </div>
</div>

<div class="test">
  <div class="gtco-testimonials">
    <div class="owl-carousel owl-carousel1 owl-theme">
      <div>
        <div class="card text-center">
          <!-- <img
            class="card-img-top"
            src="https://images.unsplash.com/photo-1572561300743-2dd367ed0c9a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=300"
            alt=""
          /> -->
          <div class="card-body">
            <h5>Raj V. <br /></h5>
            <p class="card-text">
              “I have been investing with Sanjay since 2018 and can safely say
              that he has an eye for value. Picking stocks like Tanger Outlets
              and Cinemark before they returned 100+% over the course of a few
              months, he has consistently proven his method is no trivial
              achievement. I will definitely be working more closely with him
              and wish him the best of luck in the future!
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="card text-center">
          <!-- <img
            class="card-img-top"
            src="https://images.unsplash.com/photo-1588361035994-295e21daa761?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=301"
            alt=""
          /> -->
          <div class="card-body">
            <h5>Ali M.<br /></h5>
            <p class="card-text">
              “Happy with what has been done. A lot of thought has gone into the
              process and the company itself. The securities that were invested
              in by Daedalus are stable and they make use of option contracts
              well as a hedge. Very informative company plus great minds at work
              here. ”
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="card text-center">
          <!-- <img
            class="card-img-top"
            src="https://images.unsplash.com/photo-1575377222312-dd1a63a51638?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=302&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=302"
            alt=""
          /> -->
          <div class="card-body">
            <h5>Samuel K.<br /></h5>
            <p class="card-text">
              “The thing I like most about Daedalus is their transparency. They
              don't have a plethora of clients (yet), so they devote individual
              time to each person and really hold up their end when it comes to
              transparency being personable. I think my money's in a safe place
              and I don't have any complaints.”
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="card text-center">
          <!-- <img
            class="card-img-top"
            src="https://images.unsplash.com/photo-1549836938-d278c5d46d20?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=303&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=50&w=303"
            alt=""
          /> -->
          <div class="card-body">
            <h5>Chirag R.<br /></h5>
            <p class="card-text">
              “Very good, calculated investment decisions. Overall pleased with
              my experience and not much more I can ask for. Returns have been
              consistent with or above market returns so it's my assumption what
              Daedalus is doing works quite well.”
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
